APP_PORT: 4000

KEISATSU_APP_NAME: "tenkai"
KEISATSU_WEBHOOK_URL: "http://localhost"
KEISATSU_SECRET_TOKEN: ""

DATABASE_PROVIDER: 'postgres'
DATABASE_HOST: 'localhost'
DATABASE_PORT: '5432'
DATABASE_USER: 'postgres'
DATABASE_PASS: 'pass'
DATABASE_NAME: 'svachan'